body{
  background-color: #7752e69f;

}
.container{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  


}
.calculator{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;

  
}
.calculator> button,input{
  font-size: 20px;
  padding: 10px;
  background-color: hsla(207, 72%, 47%, 0.672);
  color: white;
}
.item1{
  font-size: 40px;
  grid-column-start: 1;
  grid-column-end: 6;
  border-radius: 15px;
  border: none;
}
.item25{
  grid-column-start:4;
  grid-column-end: 6;
}